@model List<ResultSendboxMessageDto>
@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
    int count = 0;
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Gelen Mesajlar</h4>
                    <div class="table-responsive pt3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Gönderen</th>
                                    <th>Konu</th>
                                    <th>Tarihi</th>
                                    <th>Durum</th>
                                    <th>Sil</th>
                                    <th>Mesajı Aç</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;

                                    <tr>
                                        <td>@count</td>
                                        <td>@item.SenderId</td>
                                        <td>@item.Subject</td>
                                        <td>@(((DateTime)item.MessageDate).ToString("dd MMM yyyy"))</td>
                                        <td>@item.IsRead</td>
                                        <td><a href="#" class="btn btn-danger btn-sm">Sil</a></td>
                                        <td><a href="#" class="btn btn-info btn-sm">Mesjı Aç</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


